* {
    /* margin: 0; */
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

.box__message {
    width: 280px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.box__message .inner-head {
    padding: 10px;
    border-bottom: 1px solid #ddd ;
}

.inner-avatar {
    background-color: #FE5DA3;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    line-height: 32px;
    color: #fff;
}

.inner-name {
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    margin-left: 5px;  
}

.inner-body {
    padding: 10px;  
}

.inner-incoming .inner-content {
    background-color: #F1F1F1;
    margin-bottom: 10px;
    max-width: 200px;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 13px;
    line-height: 1.4;
}

.inner-outcoming .inner-content {
    background-color: #fe5da3;
    margin-bottom: 10px;
    max-width: 200px;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 13px;
    line-height: 1.4;
    color: #fff;
}

form {
    display: block;
    margin-top: 0em;
}

.inner-form input {
    width: 190px;
    height: 25px;
    border: 1px solid #ddd;
    border-radius: 15px;
    padding: 0 10px;
    outline: none;
}

.inner-form button {
    border-radius: 15px;
    border: 1px solid #FE5DA3;
    background-color: #FE5DA3;
    color: #fff;
    cursor: pointer;
    height: 25px;
    padding: 0 10px;
}

.category .inner-item {
    border: 1px solid #ddd;
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 10px;
    width: 200px;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
}

.category .inner-item img {
    height: 100px;
    width: auto;
}

.category .inner-item .inner-title {
    font-size: 13px;
    font-weight: 600;
}

.inner-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
}

.product-list__item  {
    display: inline-block;
    width: 250px;
    border: 1px solid #ddd;
    padding: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.inner-dsc {
    padding: 10px 5px;
}

.inner-dsc .inner-title {
    font-weight: bold;
}

.inner-dsc .inner-price-new {
    color: #008000 ;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 5px;
}

.inner-dsc .inner-price-old {
    color: #FF0000;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 5px;
    text-decoration: line-through;
}

.inner-dsc .inner-discount {
    color: #800080;
    font-weight: 700;
    font-size: 18px;
}